.body{
    background-color: rgba(196, 196, 196, 0.17);
    margin: 20px;
    padding: 10px;
}
.detail>img{
    width: 84.5vw;
}
.detail{
    display: flex;
    flex-direction: column;
}
.etat{
    display: flex;
    align-items: center;
    width: 100%;
}
.dispo {
    height: 10px;
    width: 70px;
    background-color: green;
    color: white;
    padding: 3px;
    padding-bottom: 10px;
}
.indispo {
    height: 10px;
    width: 80px;
    background-color: red;
    color: white;
    padding: 5px;
    padding-bottom: 10px;
}
.preco {
    height: 10px;
    width: 80px;
    background-color: orange;
    color: white;
    padding: 5px;
    padding-bottom: 10px;
}
.ajout {
    width: 320px;
    height: 63px;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.438);
    border-radius: 8px;
    background-color: rgb(177, 16, 16);
    color: white;
}
p {
    margin: 0;
}
