<main>
    <div class="title">
        <h3>Article ajouté</h3>
        <div class="close">&times;</div>
    </div>
    
    <div class="BD">
        <img src="../../../assets/assets/img/Harleen.jpg" width="100px" height="150px">
        <div class="details">
            <h2>Harleen</h2>
            <p>stjepan sejic</p>
            <p> univers DC comics</p>
        </div>
        <div class="prix">
            <p>200€</p>
        </div>
    </div>
    <div class="options">
        <button>Voir mon panier</button>
        <button>Continuer vos achats</button>
    </div>
</main>
