<footer>
    <div class="img-edward">
        <img src="../../../../assets/assets/img/LogoWhite.png" height="120px" width="150px">
    </div>
    <div class="a_propos">
        <h3>A propos</h3>
        <p>CGV</p>
        <p>Protection des données</p>
        <p>Plan du site</p>
    </div>
    <div class="contacts">
        <h3>Contacts</h3>
        <a href="mailto:edward@comics.com">edward@comics.com</a>
        <p>0 800 520 652</p>
        <p>Page contact</p>
    </div>
    <div class="horaires">
        <h3>Horaires</h3>
        <p>Ouvert du Lundi au Samedi</p>
        <p>De 9h30 à 18h30</p>
    </div>
</footer>
